.idea/.idea.Yarp.APIGateway/.idea/.name
.idea/.idea.Yarp.APIGateway/.idea/vcs.xml
/.vs
/.idea/.idea.Yarp.APIGateway/.idea
/Yarp.APIGateway.AppHost/bin/Debug/net8.0
/Yarp.APIGateway.AppHost/obj
/Yarp.APIGateway.ServiceDefaults/bin/Debug/net8.0
/Yarp.APIGateway.ServiceDefaults/obj
